[Unit]
Description=Python web server with AWS IPS
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/python-server.py
[Install]
WantedBy=multi-user.target
